@font-face {
  font-family: 'Lato-SemiBold';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/Lato-SemiBold.woff2') format('woff2'),
    url('../fonts/Lato-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Lato-bold.woff2') format('woff2'),
    url('../fonts/Lato-bold.woff') format('woff');
  font-display: swap;
}

