html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: #242121;
}

body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  background-color: #fff;
  color: #242121;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  color: #01353e;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin-top: 201px;
}

.title::after {
  content: "/";
  position: absolute;
  font-size: 72px;
  line-height: 85px;
  color: #00b2a0;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*============================heder=============================*/

.header {
  position: relative;
  z-index: 10;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}

.header::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
  width: 100%;
  height: 50%;
  z-index: -1;
}

.header__top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.header__top-inner {
  display: flex;
  justify-content: center;
  margin-right: 244px;
  align-items: center;
  padding-top: 32px;
}

.logo {
  margin-right: 185px;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__link {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  transition: border-color .5s;
  border-bottom: 1px solid transparent;
}

.menu__item+.menu__item {
  margin-left: 45px;
}

.menu__link:hover {
  border-color: #00B2A0;
}

.header__icon {
  margin-bottom: 52px;
}

.header__content {
  padding-top: 343px;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  color: #0D302C;
  font-weight: 700;
  font-size: 200px;
  font-family: 'Raleway', sans-serif;
  line-height: 234px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
  margin-bottom: 405px;
  position: relative;
}

.header__icon::after {
  content: url('../images/icon.png');
  position: absolute;
  bottom: 85px;
}

/*====================================-about-====================*/

.about {
  margin-bottom: 166px;
}

.about__info {
  display: flex;
  flex-wrap: wrap;
}

.about__title {
  padding-left: 40px;
  margin-bottom: 88px;
}

.about__info p {
  max-width: 480px;
  margin-bottom: 27px;
  margin-right: 120px;
}

/*==========================expertise============================*/

.expertise {
  background-color: #F8F8F8;
  padding-top: 5px;
}

.expertise__title {
  margin-bottom: 104px;
}

.expertise__items {
  display: flex;
  margin-bottom: 100px;
}

.expertise__item-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}

.expertise__item-title--sun {
  position: relative;
  padding-left: 138px;
  padding-top: 9px;
  margin-bottom: 30px;
}

.expertise__item-title--plane {
  position: relative;
  padding-left: 149px;
}

.expertise__item-title--boy {
  position: relative;
  padding-left: 144px;
}

.expertise__item {
  position: relative;
  max-width: 350px;
  margin-right: 70px;
}

.expertise__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 88px;
  width: 50px;
  height: 50px;
}

.expertise__item--boy::before {
  background-image: url('../images/icon-boy.svg');
}

.expertise__item--plane::before {
  background-image: url('../images/icon-plane.svg');
}

.expertise__item--sun::before {
  background-image: url('../images/icon-sun.svg');
}

.expertise__inner {
  display: flex;
  padding-bottom: 171px;
}

.expertise__info {
  margin-right: 250px;
  flex: none;
  position: relative;
}

.expertise__info-item {
  margin-bottom: 10px;
  padding-top: 25px;
  position: relative;
}

.expertise__text p {
  margin-bottom: 30px;
  margin-left: 217px;
}

.expertise__percent {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: -130px;
  top: 5px;
}

.expertise__percent::before {
  position: absolute;
}

.expertise__percent--ﾑ「stomers {
  right: -170px;
  top: 4px;
}

.expertise__percent--return::before {
  content: url('../images/expertise2.svg');
  left: -244px;
  display: inline-block;
}

.expertise__percent--ride::before {
  content: url('../images/expertise3.svg');
  left: -257px;
}

.expertise__percent--ﾑ「stomers::before {
  content: url('../images/expertise.svg');
  left: -302px;
}

/*==========================conquer============================*/

.conquer {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  min-height: 850px;
}

.conquer__title {
  margin-bottom: 100px;
  display: inline-block;
}

.conquer__text {
  max-width: 507px;
}

.conquer__text p {
  margin-bottom: 30px;
}

/*==========================portfolio============================*/

.portfolio__inner {
  padding-top: 216px;
}

.portfolio__filter-btn {
  margin-bottom: 50px;
}

.portfolio__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  outline-color: #fff;
}

.mixitup-control-active {
  color: #00B2A0;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  min-width: 1260px;
}

.portfolio__item {
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
}

.portfolio__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
  opacity: 0;
  transition: opacity .3s;
}

.portfolio__item:hover .portfolio__link {
  opacity: 1;
}

.portfolio__add {
  display: block;
  color: #242121;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #C4C4C4;
  padding: 23px 91px 24px;
}

.portfolio__more {
  margin-top: 9px;
  margin-bottom: 197px;
  display: flex;
  justify-content: center;
}

.blockquote {
  background-color: #F8F8F8;
  min-height: 200px;
  margin-bottom: 200px;
}

.blockquote__inner {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  font-style: italic;
  position: relative;
  z-index: 1;
  font-weight: 400;
  transform: translateY(79px);
}

.blockquote__author {
  font-style: italic;
  font-size: 14px;
  position: absolute;
  right: 27%;
  top: 30px;
}

.portfolio__video {
  min-height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.portfolio__numbers {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 140px;
}

.portfolio__numbers-item {
  margin-bottom: 9px;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353E;
}

.portfolio__numbers-item span {
  font-size: 14px;
  font-weight: 300;
  display: block;
}

/*==========================slider============================*/

.blog__title {
  margin-top: 140px;
  margin-bottom: 232px;
}

.slider__items {
  margin-bottom: 20px;
}

.slider__item {
  min-height: 800px;
  padding-top: 318px;
}

.slider__item-content {
  margin-left: auto;
  max-width: 600px;
  margin-right: 360px;
  color: #fff;
}

.slider__link {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  transform: translateY(-96px)
}

.slick-dots li+li {
  margin-left: 15px;
}

.slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  outline: transparent;
}

.slick-dots .slick-active button {
  background-color: #00B2A0;
}

/*==========================team============================*/

.team {
  padding-bottom: 207px;
}

.team__title {
  margin-top: 180px;
  margin-bottom: 212px;
}

.team__items {
  display: flex;
  justify-content: space-between;
}

.team__item {
  text-align: center;
}

.team__name {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
}

/*==========================pricing============================*/

.pricing {
  background-color: #F8F8F8;
  padding-bottom: 200px;
  margin-bottom: 200px;
  padding-top: 1px;
}

.pricing__title {
  margin-bottom: 184px;
}

.pricing__items {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.pricing__item {
  max-width: 360px;
  background-color: #fff;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.pricing__item-name {
  color: #01353E;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 50px 0 58px 14px;
}

ul.pricing__list {
  background-color: #fff;
  padding: 0 30px 20px 30px;
  margin-bottom: 20px;
}

.pricing__list li {
  font-weight: 400;
  margin-bottom: 20px;
}

.pricing__item-cost {
  margin-top: auto;
  text-align: center;
}

.pricing__cost {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
}

.pricing__cost span {
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}

/*==========================maps============================*/

.maps img {
  max-width: 1473px;
  height: 640px;
  margin: 0 auto;
}

/*==========================conection============================*/

.conection__inner {
  display: flex;
  margin-bottom: 200px;
}

.conection__title {
  margin-bottom: 226px;
}

.form {
  margin-right: 30px;
  max-width: 570px;
}

.form__input, .form__text {
  border: none;
  width: 100%;
  border-bottom: 2px solid #dAdAdA;
  font-size: 18px;
  font-weight: 400;
  padding: 18px 0;
  margin-bottom: 13px;
  outline-style: none;
}

.form__input:hover, .form__text:hover {
  outline-style: dotted;
  outline-color: #00b2a0;
}

.form__input::placeholder, .form__text::placeholder {
  color: #00B2A0;
  font-size: 18px;
}

.form__text {
  min-height: 210px;
  resize: none;
}

.form__button {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 24px 114px 23px;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  margin-top: 37px;
}

.address {
  background-color: #F8F8F8;
  margin-left: 30px;
}

.address__items {
  padding: 64px 160px 0px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.address__item {
  margin-bottom: 65px;
  margin-left: 44px;
}

/*==========================footer============================*/

.footer__top {
  display: flex;
  justify-content: center;
  margin-bottom: 199px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  padding-right: 10px;
}

.social__link {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.social__link:hover {
  color: #00B2A0;
}

.footer__bottom {
  align-items: center;
  padding: 68px 0;
  background-color: #00B2A0;
  display: flex;
  justify-content: center;
}

.footer__logo {
  display: block;
  align-items: center;
  margin: 0;
}

/*==========================media============================*/

@media (max-width: 1199px) {
  .title {
    margin-top: 120px;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #1a958be3;
    display: block;
    text-align: center;
    z-index: 10;
    transform: translateY(-200%);
    transition: all .5s;
  }
  ul.menu__list {
    padding: 90px 0 15px;
  }
  .menu__link {
    display: block;
    padding: 15px 0;
  }
  .logo {
    position: relative;
    z-index: 11;
  }
  .menu__item+.menu__item {
    margin-left: 0;
  }
  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0%);
  }
  .header__top-inner.header__top-inner--active .menu__btn path {
    fill: #fff;
  }
  .header__top-inner.header__top-inner--active .menu__btn rect {
    fill: #fff;
  }
  .header__title {
    font-size: 155px;
    line-height: 175px;
  }
  .header__subtitle {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 250px;
  }
  .header__top-inner {
    margin-right: 0;
    margin-bottom: 195px;
    justify-content: space-around;
  }
  .about {
    margin-bottom: 100px;
  }
  .about__title {
    padding-left: 0;
  }
  .about__info p {
    max-width: 100%;
    margin-bottom: 27px;
    margin-right: 50px;
  }
  .expertise__inner {
    padding-bottom: 70px;
  }
  .conquer {
    background-size: 0;
    min-height: 100%;
  }
  .conquer__title {
    display: block;
    margin-bottom: 50px;
  }
  .conquer__text {
    max-width: 100%;
  }
  .portfolio__inner {
    padding-top: 0;
    margin-top: 100px;
  }
  .portfolio__content {
    min-width: 100%;
    justify-content: center;
  }
  .blog__title {
    margin-bottom: 75px;
  }
  .team {
    padding-bottom: 50px;
  }
  .team__title {
    margin-top: 75px;
    margin-bottom: 100px;
  }
  .pricing__title {
    margin-top: 75px;
    margin-bottom: 100px;
  }
  .maps img {
    max-width: 100%;
    height: 100%;
  }
  .pricing {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .conection__title {
    margin-top: 75px;
    margin-bottom: 100px;
  }
  .conection__inner{
    margin-bottom: 75px;
  }
  .footer__top {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 38px;
    line-height: 1.5;
    margin-top: 100px;
  }
  .title::after {
    font-size: 50px;
    line-height: 1.5;
  }
  .about__title {
    padding-left: 0;
    margin-bottom: 70px;
  }
  .about__info p {
    max-width: 100%;
    margin-bottom: 27px;
    margin-right: 0px;
  }
  .expertise__item {
    max-width: 100%;
    margin-right: 35px;
  }
  .expertise__text p {
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .portfolio__more {
    margin-bottom: 50px;
  }
  .blockquote {
    margin-bottom: 50px;
  }
  .portfolio__video {
    margin-bottom: 50px;
  }
  .slider__item-content {
    margin-right: 0;
  }
  .team__items {
    display: block;
  }
  .team__item img {
    display: inline-block;
  }
  .maps img {
    display: none;
  }
  .conection__inner {
    flex-direction: column;
    align-items: center;
  }
  .form {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .form__button {
    padding: 10px 50px 10px;
    font-size: 20px;
  }
  .address {
    margin-left: 0;
  }
  .address__items {
    padding-top: 36px;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .title {
    margin-top: 50px;
  }
  .header__title {
    font-size: 120px;
    line-height: 1.5;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  .header__content {
    padding-top: 220px;
  }
  .about {
    margin-bottom: 50px;
  }
  .expertise__items {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .expertise__item {
    margin-bottom: 70px;
  }
  .expertise__item::before {
    top: -47px;
    left: 0px;
  }
  .expertise__item-title {
    padding-left: 0;
  }
  .blockquote {
    margin-bottom: 50px;
  }
  .pricing__items {
    flex-direction: column;
    align-items: center;
  }
  .pricing__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 25px;
    margin-top: 55px;
  }
  .title::after {
    font-size: 35px;
  }
  .header__title {
    font-size: 68px;
    line-height: 1.5;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .header__content {
    padding-top: 175px;
  }
  .about {
    margin-bottom: 0;
  }
  .expertise__inner {
    flex-direction: column;
  }
  .expertise__info {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .expertise__percent {
    right: 30px;
    top: 30px;
  }
  .expertise__percent--ﾑ「stomers {
    right: 30px;
    top: 30px;
  }
  .expertise__percent--return::before {
    left: -216px;
    top: -20px;
  }
  .expertise__percent--ride::before {
    left: -251px;
    top: -20px;
  }
  .expertise__percent--ﾑ「stomers::before {
    left: -264px;
    top: -20px;
  }
  .portfolio__inner {
    margin-top: 50px;
  }
  .portfolio__add {
    font-size: 17px;
    padding: 10px 35px 10px;
  }
  .portfolio__btn {
    font-size: 14px;
  }
  .blockquote__inner {
    font-size: 17px;
    line-height: 1.5;
  }
  .blockquote__author {
    font-size: 12px;
    right: 3%;
  }
  .portfolio__numbers {
    display: block;
    margin-bottom: 70px;
  }
  .slider__link {
    font-size: 21px;
    line-height: 1.5;
  }

  .social__item {
    margin-bottom: 20px;
  }
  .social__link {
    font-size: 20px;
  }
}
