.header {
  padding: 100px 0 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  &__inner {
    margin-left: 34%;


  }

  &__title {
    letter-spacing: -2px;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    @extend %lato-600;
    color: #2c3e50;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  &__link {
    color: $default-color;
    background-color: transparent;
    border-color: $default-color;
    padding: 10px 16px;
    margin: 0 10px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 6px;

    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid $default-color;
    transition: color, background-color 0.5s;

    position: relative;

    &:after {

      position: absolute;
      content: '';
      background-color: inherit;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
      opacity: 0.8;
      animation: pulsing 2s ease-out infinite;

      &:nth-of-type(1) {
        animation-delay: -0.5s;
      }

      &:nth-of-type(2) {
        animation-delay: -1s;
      }

      &:nth-of-type(3) {
        animation-delay: -1.5s;
      }


      @keyframes pulsing {
        100% {
          transform: scale(1.75);
          opacity: 0;
        }
      }
    }

    &:hover {
      color: #eee;
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }
}

.menu {
  background-color: $accent-color;
  padding: 5px 0;
  color: #f4f5f6;







  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.menu__inner--active {
      .menu__list {
        transform: translateY(0%);
      }
    }
  }

  &__logo {
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    @extend %lato-700;
  }

  &__list {
    display: flex;

    @include r(991) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: #000000e0;
      display: block;
      text-align: center;
      z-index: 2000;
      transform: translateY(-200%);
      transition: all .5s;

      padding: 50px 0 50px !important;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r(991) {
        margin-right: 0;
        margin-bottom: 30px;
        padding: 15px;
      }
    }
  }

  &__link {
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    @extend %lato-600;
    transition: color 0.5s;

    &:hover {
      outline: 0;
      color: #E87E04;
      background-color: transparent;
    }

    @include r(991) {
      font-size: 25px;
    }
  }
}

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  display: none;

  @include r(991) {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 2001;
    text-align: center;
  }

  @include burger;
}