.about {
  padding: 100px 0;

  &__img {
    max-height: 400px;
    margin: 0 auto;
    clip-path: circle(40%);
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.42857143;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.nav-filter {
  text-align: center;
  margin-bottom: 70px;

  &__btn {
    background-color: transparent;
    padding: 10px;
    border: none;
    @extend %lato-600;
    color: $default-color;
    position: relative;
    cursor: pointer;


    &:hover {
      color: #E87E04;
    }

    &:not(:last-child) {
      margin-right: 30px;

      &::after {
        position: absolute;
        content: '';
        border-right: 1px solid $default-color;
        width: 1px;
        height: 16px;
        right: -17px;
        top: 13px;
      }
    }
  }
}

.portfolio {

  &__title {
    margin-bottom: 70px;
  }

  &__text {
    text-align: center;
    margin-bottom: 80px;
  }


  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 200px;
  }
}

.portfolio-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 50px #f9f9f9;
  position: relative;
  // padding: 55px 10px 40px;
  height: 381px;

  &__img {
    max-width: 100%;
    max-height: 363px;
  }

  &:hover .portfolio-cart__content {
    opacity: 1;
  }

  &__title {
    font-size: 16px;
    @extend %lato-600;

    margin-top: auto;

    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: $accent-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
  }

  &__link {
    position: absolute;
    content: '';
    font-size: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}